@model WebApplicationIceCreamProject.Models.Order

@{
	ViewData["Title"] = "EditOrder";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="shilat">
	<div class="banner-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-content text-center">
						<span>@*<i class="icon icon-calendar mr-2"></i>*@ADMIN</span>
						<h2>Edit Order @Model.Id Details</h2>

						<div class="breadcum-items mt-2">
							@*      <span class="item color-primary" style="font-size: 15px;"><a asp-action="Home">Home /</a></span>
							<span class="item color-primary" style="font-size: 15px;">Flavors</span>

							*@
							<span class="item" style="font-size: 17px;"><a asp-action="OpenPage">Home /</a></span>
							<span class="item" style="font-size: 17px;"><a asp-action="OrdersList">Orders /</a></span>
							<span class="item colored" style=" font-size: 17px;">Edit</span>

						</div>

						<br />
						<span class="item colored" style="font-size: 23px;">Modify Order Information</span>
						<p style="font-size: 16px; color: #333;">You are allowed to modify the following fields: First Name, Last Name, Phone Number, and Email.</p>

					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--site-banner-->
@*<h1>Edit</h1>

<h4>IceCream</h4>
<hr />*@
@*<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Image_URL" class="control-label"></label>
				<input asp-for="Image_URL" class="form-control" />
				<span asp-validation-for="Image_URL" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="control-label"></label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>*@

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@


<section class="bg-sand padding-large">
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-md-7 pl-5">
				<form asp-action="EditOrder">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="Id" />
					<div class="form-group">
						<label asp-for="FirstName" class="control-label"></label>
						<input asp-for="FirstName" class="form-control" />
						<span asp-validation-for="FirstName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="LastName" class="control-label"></label>
						<input asp-for="LastName" class="form-control" />
						<span asp-validation-for="LastName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="PhoneNumber" class="control-label"></label>
						<input asp-for="PhoneNumber" class="form-control" />
						<span asp-validation-for="PhoneNumber" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Email" class="control-label"></label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="City" class="control-label"></label>
						<input asp-for="City" class="form-control" />
						<span asp-validation-for="City" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Street" class="control-label"></label>
						<input asp-for="Street" class="form-control" />
						<span asp-validation-for="Street" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="HouseNumber" class="control-label"></label>
						<input asp-for="HouseNumber" type="number" min="1" class="form-control" >
						<span asp-validation-for="HouseNumber" class="text-danger"></span>
					</div>
					<input type="hidden" asp-for="Date" value="@Model.Date" />
					<input type="hidden" asp-for="FeelsLike" value="@Model.FeelsLike" />
					<input type="hidden" asp-for="Humidity" value="@Model.Humidity" />
					<input type="hidden" asp-for="IsItHoliday" value="@Model.IsItHoliday" />
					<input type="hidden" asp-for="Day" value="@Model.Day" />
					<input type="hidden" asp-for="Total" value="@Model.Total" />
					<div class="form-group">
						<input type="submit" value="Save" class="btn btn-primary" />
					</div>
				</form>
			</div>






		</div>
	</div>



</section>

